body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.kontener {
  width: 100%;
  height: 0;
  background-image: url("IMG/Jumbo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding-bottom: 60%;
}

li {
  display: inline-block;
}

.grid_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*=col-] {
  min-height: 1px;
  float: left;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-9 {
  text-align: right;
}

.grey-section {
  width: 100%;
  margin-top: 40px;
  padding-bottom: 173px;
  background-color: #ededed;
}

.roomes .col-4 {
  margin-bottom: -56px;
}

.topO {
  margin-top: 287px;
}

.topT {
  margin-top: 100px;
}

.topTre {
  margin-top: 287px;
}

.txt p {
  text-align: center;
  color: white;
}

.type2 {
  width: 100%;
  height: 400px;
  background-image: url("IMG/type2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  padding-bottom: 41%;
  background-attachment: fixed;
}

.centrum {
  text-align: center;
}

.loader {
  margin-top: 80px;
  margin-bottom: 90px;
}

.dym {
  margin-top: 20px;
}

.head {
  margin-top: 100px;
}

.our1 {
  padding-top: 50px;
}

.our2 .col-12 {
  margin-top: 85px;
}

.circle {
  margin-top: 400px;
}

.skill {
  margin-top: 190px;
}

.first {
  margin-top: 38px;
}

.photos .col-12 {
  margin-top: 30px;
  margin-bottom: 55px;
}

.tekst p {
  padding-top: 87px;
  font-size: 16pt;
}

.button {
  background: #9f449b;
  background-image: -webkit-linear-gradient(top, #9f449b, #9f449b);
  background-image: -moz-linear-gradient(top, #9f449b, #9f449b);
  background-image: -ms-linear-gradient(top, #9f449b, #9f449b);
  background-image: -o-linear-gradient(top, #9f449b, #9f449b);
  background-image: linear-gradient(to bottom, #9f449b, #9f449b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: white;
  font-size: 28px;
  padding: 7px 20px 10px 20px;
  text-decoration: none;
}

.fontsLato {
  font-family: 'Lato', sans-serif;
  font-size: 16pt;
}

.head p {
  color: white;
  font-size: 48pt;
}

#cir {
  margin-top: 77px;
}

#cir .col-4 p {
  margin-top: 70px;
}

.head p {
  font-size: 48pt;
}

.pics img {
  width: 90%;
}

.eclip {
  margin-top: 150px;
}

.button2 {
  margin-bottom: 20px;
}

.about .button {
  margin-top: 134px;
}

.logoMin img {
  margin-top: 32px;
}

.grey-section2 {
  width: 100%;
  margin-top: 40px;
  padding-bottom: 150px;
  background-color: #ededed;
}

.form {
  margin-top: 130px;
}

.numb .col-3 > :first-child {
  font-size: 50px;
}

.LoLast .col-12 {
  margin-top: 50px;
}

input[name="field1"] {
  border-color: #cccccc;
  border-style: solid;
  font-size: 18px;
  padding: 15px;
  border-width: 3px;
  width: 408px;
}

input[name="field1"]:focus {
  outline: none;
}

input[name="field2"] {
  border-width: 2px;
  border-color: #cccccc;
  border-style: solid;
  padding: 30px;
  font-size: 28px;
}

input[name="field2"]:focus {
  outline: none;
}

.menu ul li:hover {
  color: red;
  font-weight: bold;
}

.menu ul li {
  margin-left: 10px;
}

.topOne img:hover {
  background-image: url("Uptape/port.png");
  transition-duration: 3s;
}

.topTwo img:hover {
  background-image: url("Uptape/port.png");
}

.toptree img:hover {
  background-image: url("Uptape/port.png");
}

.topfiv img:hover {
  background-image: url("Uptape/port.png");
}

.topsix img:hover {
  background-image: url("Uptape/port.png");
}

.topse img:hover {
  background-image: url("Uptape/port.png");
}

.photos .row .col-12 img:hover {
  background-color: #9f449b;
}

.first .col-3 img:hover {
  background: url("IMG/ObramF.png");
}

.first .col-3 {
  margin-top: 132px;
}

#test {
  top: 1000px;
}

.stick {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background-color: white;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
